
.flip-pictures {
    display: inline-block;
    width: 30vw;
    height: 30vw;
    perspective: 1000px;
    background-color: transparent;
}

.pictures-beaches{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-pictures:hover .pictures-beaches {
    transform: rotateY(180deg);
}

.flip-pictures:hover .pictures-beaches > .imagem-frente > img {
    transition: all 2s ease;
    filter: blur(5px);
}

.imagem-frente, .imagem-atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.imagem-atras {
    transform: rotateY(180deg);
    
}