@supports (perspective: 1000px) {
    .flip-pictures {
        display: inline-block;
        width: 30vw;
        height: 30vw;
        -webkit-perspective: 1000px;
        -ms-perspective: 1000px;
        perspective: 1000px;
        background-color: transparent;
    }

}

@supports (transform-style: preserve-3d) {
    .pictures-beaches{
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-transition: -webkit-transform 0.8s;
        -ms-transition: transform 0.8s;
        transition: transform 0.8s;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        
        
    }
}

@supports (transform: rotateY(180deg)) {
    .layout-history-beaches1 .flip-pictures:hover .pictures-beaches {
        -webkit-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        
    }
}

@supports (transform: rotateY(-180deg)) {
    .layout-history-beaches2 .flip-pictures:hover .pictures-beaches {
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);

        
    }
}

@supports (filter: blur(1px), transition: all 2s ease) {
    .flip-pictures:hover .pictures-beaches > .imagem-frente > img {
        -ms-transition: all 2 ease;
        -webkit-transition: all 2 ease; 
        transition: all 2s ease;
        -ms-filter: blur(5px);
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
}

@supports (backface-visibility: hidden) {
    .imagem-frente, .imagem-atras {
        position: absolute;
        width: 100%;
        height: 100%;        
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

@supports (transform: rotateY(180deg)) {
    .imagem-atras {
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);    
    }
}
