* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
    border: 0px;
}

:root {
    --color-font-navbar: yellow;
    --color-bg-layout: rgb(231, 231, 231);
    --bgPadrao: rgba(94, 197, 94, 0.707);
    --bgLayoutHistoryOdd: rgb(228, 228, 228);
    --bgLayoutHistoryEven: rgb(231, 255, 220);
    --bgSection: rgba(93, 207, 93, 0.707);;
    --bgBotao: green;
}

html, head, header {
    background-color: var(--bgPadrao);
    width: 100vw;
}

body {
    display: grid;
    background-color: rgba(94, 197, 94, 0.707);
    min-height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(1%, auto);
    font-family: 'Courier New', Courier, monospace;

}

@media screen and ((min-width: 701px) or (max-width: 2000px)) {

    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(1%, auto);
        margin-bottom: 5%;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.438);
    }

    #divIcone-principal {
        width: 50%;
        height: 10vh;
        margin: auto;
        
    }

    #icone-principal1 {
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        margin: auto;
        
    }

    
    header > nav {
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-auto-rows: minmax(1%, auto);
        background-color: green;
        height: 10vh;
        padding: 10px;
        
    }

    header > nav > ul{

        display: grid;
        position: relative;
        
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(1%, auto);
        width: max-content;
        height: max-content;
        border-radius: 20px;
        padding: 0px 10px 0px 10px;
        top: 50%;
        left: 90%;
        gap: 10px;
        transform: translate(-50%, -50%);
        
        
        
    }

    header > nav > ul > li {
        background-color: rgb(0, 104, 0);
        color: yellow;
        border-radius: 10px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.418);
        padding: 10px;
    }

    header > nav > ul > li > a {
        display: block;
        text-decoration: none;
        color: white;
    }

    header > nav > ul > li > a:hover {
        text-decoration: underline;
    }

    .imagem {
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-image: url("plano\ de\ fundo/bonete-20220628_122036.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        

    }

    .imagem > p, .imagem > button{
        position: relative;
        top: 50%;
    }

    .imagem > p {
        color: white;
        background-color: rgba(0, 128, 0, 0.377);
        padding: 10px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
    }

    .btn-about {
        color: white;
        background-color: var(--bgBotao);
        border-radius: 20px;
        margin-top: 10px;
        padding: 10px;
        box-shadow: 2px 2px 2px rgba(0, 107, 0, 0.493);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
    }


    section {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(1%, auto);
        min-height: 100vh;
        padding: 2%;
        max-width: 80vw;
        margin: auto;
        margin-bottom: 10vh;
    }

    .layout-history-beaches {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(1%, auto);
        background-color: var(--bgLayoutHistoryEven);
        border-radius: 20px;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.438);
        width: 95%;
        height: 50vh;
        margin: auto;
        padding: 2% 1% 2% 1%;
        gap: 2%;
        margin-bottom: 5%;
    }

    .layout-history-beaches:nth-child(odd) {
        background-color: var(--bgLayoutHistoryOdd);
    }

    .layout-history-beaches:nth-child(odd) > .flip-pictures {
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%;
        height: 100%;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.356);
    }

    .layout-history-beaches:nth-child(even) > .flip-pictures {
        
        grid-column-start: 2;
        grid-column-end: 2;
        width: 100%;
        height: 100%;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.356);
    }

    .layout-history-beaches:nth-child(odd) > .descricao-praias {
        grid-column-start: 2;
        grid-column-end: 2;
    }


    .layout-history-beaches:nth-child(even) > .descricao-praias {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .descricao-praias {
        padding: 10px;
        overflow-y: scroll;
        border: 3px solid black;
        border-style: dashed;

    }

    .miniaturas, .miniaturas2{
        width: 100%;
        height: 100%;
    }

    .pictures-beaches {
        width: 100%;
        height: 100%;
    }

    .link-about {
        display: block;
        position: relative;
        background-color: var(--bgBotao);
        text-decoration: none;
        width: max-content;
        height: max-content;
        padding: 10px;
        border-radius: 20px;
        color: white;
        top: -56%;
        margin: auto;
    }
    .link-about:hover {
        text-decoration: underline;
    }

    footer {
        background-color: rgb(0, 71, 0);
        text-align: center;
        color: rgb(60, 255, 125);
        padding: 30px;
    }

    footer > p > a {
        color: rgb(60, 255, 125);
        text-decoration: none;
    }

    footer > p > a:hover {
        color: white;
        text-decoration: underline;
    }
}


@media screen and (max-width: 700px) {
    #divIcone-principal {
        width: 15vw;
        height: 10vh;
    }

    header > nav > ul{
        left: 60%;
    }

    section {
        max-width: 100%;
        margin: 0px;
        margin-bottom: 10vh;
        padding: 0px;
        left: 0%;
    }

    .layout-history-beaches {
        border-radius: 0px;
        width: 97vw;
        margin: 0px;
        margin-bottom: 5%;

        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(1%, auto);
        height: max-content;
        padding: 5% 2% 5% 1%;
    }

    .miniaturas, .miniaturas2 {
        height: 100%;
    }
    .layout-history-beaches:nth-child(odd) {
        background-color: var(--bgLayoutHistoryOdd);
    }

    .layout-history-beaches:nth-child(odd) > .flip-pictures {
        grid-column-start: 1;
        grid-column-end: 2;        
        width: 100%;
        height: 50vh;
        margin-bottom: 5%;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.356);
    }

    .layout-history-beaches:nth-child(even) > .flip-pictures {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        width: 100%;
        height: 50vh;
        margin-bottom: 5%;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.356);
    }

    .layout-history-beaches:nth-child(odd) > .descricao-praias {
        grid-column-start: 1;
        grid-column-end: 2;
    }


    .layout-history-beaches:nth-child(even) > .descricao-praias {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    .descricao-praias {
        font-size: 3vw;
        border: 2px dashed black;
    }
}