* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
    border: 0px;

}



html {
    width: 97vw;
}
:root {
    --color-font-navbar: yellow;
    --color-bg-layout: rgb(187, 187, 187);
}


body {
    background-color: rgba(94, 197, 94, 0.707);
    width: 97vw;
    height: 97vh;

    overflow-x: hidden;
    
}


nav {
    display: inline-block;

    width: 97vw;
    height: 97vh;

    padding: 5px;
    background-color: rgb(84, 211, 84);
    padding-right: 50px;


}



.nav-list {
    list-style: none;
    display: flex;    
    margin-left: auto;
}

.nav-list li{
    letter-spacing: 1px;
    margin: auto;
    
}

.nav-list li a {
    text-decoration: none;
    margin-left: 10px;
    color: var(--color-font-navbar);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.508);
}


.nav-list > li a:hover {
    text-decoration: underline;
    color: rgb(189, 189, 189);
    margin-left: 10px;
}



.link-about {
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 30px;
    border-color: transparent;
    font-size: 2vw;
    
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.495);
}

.link-about:hover {
    background-color: rgb(0, 60, 0);
    color: rgb(199, 199, 199);
    transition: 0.3s;
}


#icone-principal1 {
    display: block;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

#icone-principal{
    display: flex;
    text-decoration: none;
    padding: 10px;
}

#icone-principal > p {
    font-size: 2rem;
    margin: auto;
    color: var(--color-font-navbar);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.227);
}

#icone-principal > p:hover {
    color: rgb(189, 189, 189)
}


#mini-introducao {
    display: block;
    position: relative;
    max-width: 60vw;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    top: 100px;
}


.descricao-praias, .descricao-praias2 {
    font-family: Arial, Helvetica, sans-serif;
}



.btn-about {
    display: block;
    background-color: green;
    color: white;
    border-radius: 30px;
    border-color: transparent;
    font-size: 1.2rem;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.495);
}

.btn-about:hover {
    background-color: rgb(0, 60, 0);
    color: rgb(199, 199, 199);
    transition: 0.3s;
}

.btn-about#conhecer {
    margin: auto;
    position: relative;
    top: 200px;
}


.imagem {
    display: block;
    background-image: url('plano\ de\ fundo/bonete-20220628_122036.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.467);
}



.imagem-atras {
    max-width: 400px;
}

footer {
    display: inline-block;
    background-color: black;
    color: white;
    margin: auto;
    width: 99vw;
    min-width: 80px;
    padding: 20px;
    text-align: center;
    font-size: 2vw;
    top: auto;
}


/*
    Monitor de computador comum
*/


@media screen and (min-width: 1301px) {

    header {
        width: 90vw;

    }

    .link-about {
        display: block;
        position: relative;
        text-decoration: none;
        background-color: green;
        color: white;
        border-radius: 30px;
        border-color: transparent;
        font-size: 2vw;
        
        padding: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.495);
    
        

    }


    
    .link-about:hover {
        background-color: rgb(0, 60, 0);
        color: rgb(199, 199, 199);
        transition: 0.3s;
    }
    
    
    #icone-principal1 {
        display: inline-block;
        position: relative;
        margin-left: 1vw;
        margin-right: 1vw;


        width: 250px;
        height: 250px;

        border-radius: 50%;
        top: -1px;
        
    }
    
    #icone-principal{
        display: inline-block;
        position: relative;

        width: 45vw;
        height: 30vh;
        text-decoration: none;
        padding: 10px;
        top: -7px;
    }
    
    #icone-principal > p {
        display: inline-block;
        position: relative;
        font-size: 3.5vw;
        
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.227);

        

        top: -100px;
        left: 2%;
        
    }
    
    #icone-principal > p:hover {
        color: rgb(189, 189, 189)
    }

    nav {
        display: inline-block;
        position: relative;

        width: 98vw;

        min-height: 90px;
        max-height: 100vh;
        height: 300px;
        
        padding: 20px;
        background-color: rgb(84, 211, 84);
        padding-right: 50px;
        

    }
    
    
    
    .nav-list {
        display: inline-block;
        position: relative;
        list-style: none;
        display: inline-block;    
        top: -50px;
        
    }
    
    .nav-list li{
        display: inline-block;
        position: relative;
        width: 200px;
        
        letter-spacing: 1px;

        font-size: 3.5vw;

        left: -10%;
        
    }
    
    .nav-list li a {
        display: inline-block;
        position: relative;
        width: 100px;
        text-decoration: none;
        
        top: -40px;
        left: 39vw;
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.508);
    }
    
    
    .nav-list > li a:hover {
        text-decoration: underline;
        color: rgb(189, 189, 189);
        
    }
    #mini-introducao {
        font-size: 3vw;
    }

    .btn-about {
        width: 20vw;
        height: 18vh;
        font-size: 3vw;
    }

    section {
        display: block;
        position: relative;
        background-color: white;
        margin: auto;
        border-radius: 0px 0px 50px 50px;

        min-width: 50vw;
        max-width: 95vw;
        width: 95vw;

        min-height: 60vh;
        max-height: max-content;
        height: max-content;

        padding-bottom: 100px;
        margin-bottom: 200px;
    }

    .layout-history-beaches1, .layout-history-beaches2 {
        display: inline-block;
        position: relative;

        max-width: 95vw;
        width: 95vw;

        min-height: 40vh;
        max-height: 90vh;
        height: 65vh;


        padding: 20px 0px 10px 0px;
        margin: 50px 0px 50px 0px;

    }


    .layout-history-beaches2 {
        background-color: var(--color-bg-layout);
        
        
        
    }

    .history-border {
        display: inline-block;
        position: relative;

        padding: 0px;
        margin: 0px;

        max-width: 95vw;
        width: 90vw;

        min-height: 20vh;
        max-height: 90vh;
        height: 90vh;
        
        
    }



    .link-about {
        transform: translate(-50%, -50%);
        display: inline-block;
        position: relative;

        width: max-content;
        top: 50%;
        left: 50%;
    }   
    
    .link-about2 {
        transform: translate(-50%, -50%);
        display: inline-block;
        position: absolute;

        top: 50%;
        left: 50%;
    }

    .miniaturas, .miniaturas2, .imagem-atras, .imagem-frente {
        display: inline-block;
        position: relative;


        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw;
        
        min-height: 20vh;
        max-height: 90vh;
        height: 60vh;

        top: 0px;
        left: 0px;

    }

    .flip-pictures {
        display: inline-block ;
        position: relative;
        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw ;

        min-height: 20vh;
        max-height: 90vh;
        height: 82vh ;

        top: 0px;
    }


        
    .descricao-praias, .descricao-praias2 {
        display: inline-block;
        position: absolute;
        border: 4px dashed black;
        
        overflow-y: scroll;
        font-size: 2.5vw;
        max-width: 80vw;
        width: 30vw;

        height: 60vh;
        padding: 10px;

    }
        
    #flip-pictures01 {
        display: inline-block;
        position: relative;
        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw ;

        min-height: 20vh;
        max-height: 90vh;
        height: 60vh ;



        top: 0px;
        left: 4%;
    }

    #descricao-praias01 {
        display: inline-block;
        position: relative;
        width: 35vw;
        height: 56vh;

        top: 0px;
        left: 10%;
        padding: 10px;
        

    }

    
    #descricao-praias01 > p {
        max-width: max-content;
        width: 32vw;

    }


    #flip-pictures02 {
        display: inline-block;
        position: relative;
        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw ;

        min-height: 20vh;
        max-height: 90vh;
        height: 60vh ;

        

        top: 0px;
        left: 50%;
    }


    #descricao-praias02 {
        display: inline-block;
        position: relative;
        overflow-y: scroll;

        min-width: 30vw;
        max-width: 60vw;
        width: 32vw;
        
        min-height: 45vh;
        max-height: 90vh;
        height: 56vh;

        top: 0px;
        left: -43%;
    }


    #descricao-praias02 > p {
        max-width: 60vw;
        width: 32vw;
        left: -10px;
    }


    #flip-pictures03 {
        display: inline-block;
        position: relative;
        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw ;

        min-height: 20vh;
        max-height: 90vh;
        height: 60vh;

        top: 0px;
        left: 4%;
    }

    #descricao-praias03 {
        display: inline-block;
        position: relative;

        overflow-y: scroll;

        max-width: 70vw;
        width: 35vw;
        height: 56vh;

        top: 0px;
        left: 10%;
        
    }


    #descricao-praias03 > p {
        max-width: 70vw;
        
        max-height: max-content;
        
    }

    footer {
        display: inline-block;
        position: relative;
        width: 98vw;

    }
    footer > p {
        width: max-content;
        margin: auto;
    }
}


@media screen and (max-width: 1300px) {
    .link-about {
        display: block;
        position: relative;
        text-decoration: none;
        background-color: green;
        color: white;
        border-radius: 30px;
        border-color: transparent;
        font-size: 2vw;
        
        padding: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.495);
    
        

    }


    
    .link-about:hover {
        background-color: rgb(0, 60, 0);
        color: rgb(199, 199, 199);
        transition: 0.3s;
    }
    
    
    #icone-principal1 {
        display: inline-block;
        position: relative;
        margin-left: 1vw;
        margin-right: 1vw;


        width: 150px;
        height: 150px;

        border-radius: 50%;
        top: -1px;
        
    }
    
    #icone-principal{
        display: inline-block;
        position: relative;

        width: 60vw;
        height: 30vh;
        text-decoration: none;
        padding: 10px;
        top: -7px;
    }
    
    #icone-principal > p {
        display: inline-block;
        position: relative;
        font-size: 3.5vw;
        width: 10vw;
        height: 10vh;


        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.227);
        top: -60px;
        
        
    }
    
    #icone-principal > p:hover {
        color: rgb(189, 189, 189)
    }

    nav {
        display: inline-block;
        position: relative;

        width: 98vw;

        min-height: 150px;
        height: 26vh;

        padding: 20px;
        background-color: rgb(84, 211, 84);
        padding-right: 50px;
        

    }
    
    
    
    .nav-list {
        display: inline-block;
        position: relative;
        list-style: none;
        display: inline-block;    
        top: -50px;
        
    }
    
    .nav-list li{
        display: inline-block;
        position: relative;
        width: 200px;
        
        letter-spacing: 1px;

        font-size: 3.5vw;

        left: -20%;
        
    }
    
    .nav-list li a {
        display: inline-block;
        position: relative;
        width: 100px;
        text-decoration: none;
        top: -20px;
        left: 25vw;
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.508);
    }
    
    
    .nav-list > li a:hover {
        text-decoration: underline;
        color: rgb(189, 189, 189);
        
    }
    #mini-introducao {
        font-size: 3vw;
    }

    .btn-about {
        width: 20vw;
        height: 18vh;
        font-size: 3vw;
    }

    section {
        display: block;
        position: relative;
        background-color: white;
        margin: auto;
        border-radius: 0px 0px 50px 50px;

        min-width: 50vw;
        max-width: 95vw;
        width: 95vw;

        min-height: 60vh;
        max-height: max-content;
        height: max-content;

        padding-bottom: 100px;
        margin-bottom: 200px;
    }

    .layout-history-beaches1, .layout-history-beaches2 {
        display: inline-block;
        position: relative;

        max-width: 95vw;
        width: 95vw;

        min-height: 40vh;
        max-height: 90vh;
        height: 65vh;


        padding: 20px 0px 10px 0px;
        margin: 50px 0px 50px 0px;

    }


    .layout-history-beaches2 {
        background-color: var(--color-bg-layout);
        
        
        
    }

    .history-border {
        display: inline-block;
        position: relative;

        padding: 0px;
        margin: 0px;

        max-width: 95vw;
        width: 90vw;

        min-height: 20vh;
        max-height: 90vh;
        height: 90vh;
        
        
    }



    .link-about {
        transform: translate(-50%, -50%);
        display: inline-block;
        position: relative;

        width: max-content;
        top: 50%;
        left: 50%;
    }   
    
    .link-about2 {
        transform: translate(-50%, -50%);
        display: inline-block;
        position: absolute;

        top: 50%;
        left: 50%;
    }

    .miniaturas, .miniaturas2, .imagem-atras, .imagem-frente {
        display: inline-block;
        position: relative;


        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw;
        
        min-height: 20vh;
        max-height: 90vh;
        height: 60vh ;

        top: 0px;
        left: 0px;

    }

    .flip-pictures {
        display: inline-block ;
        position: relative;
        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw ;

        min-height: 20vh;
        max-height: 90vh;
        height: 82vh ;

        top: 0px;
    }


        
    .descricao-praias, .descricao-praias2 {
        display: inline-block;
        position: absolute;
        border: 4px dashed black;
        
        overflow-y: scroll;
        font-size: 2.5vw;
        max-width: 80vw;
        width: 30vw;

        height: 60vh;
        padding: 10px;

    }
        
    #flip-pictures01 {
        display: inline-block;
        position: relative;
        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw ;

        min-height: 20vh;
        max-height: 90vh;
        height: 60vh ;

        top: 0px;
        left: 4%;
    }

    #descricao-praias01 {
        display: inline-block;
        position: relative;
        width: 35vw;
        height: 56vh;

        top: 0px;
        left: 10%;
        padding: 10px;
        

    }

    
    #descricao-praias01 > p {
        max-width: max-content;
        width: 32vw;

    }


    #flip-pictures02 {
        display: inline-block;
        position: relative;
        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw ;

        min-height: 20vh;
        max-height: 90vh;
        height: 60vh ;

        top: 0px;
        left: 50%;
    }


    #descricao-praias02 {
        display: inline-block;
        position: relative;
        overflow-y: scroll;

        min-width: 30vw;
        max-width: 60vw;
        width: 32vw;
        
        min-height: 45vh;
        max-height: 90vh;
        height: 56vh;

        top: 0px;
        left: -43%;
    }


    #descricao-praias02 > p {
        max-width: 60vw;
        width: 32vw;
        left: -10px;
    }


    #flip-pictures03 {
        display: inline-block;
        position: relative;
        min-width: 40vw;
        max-width: 90vw ;
        width: 45vw ;

        min-height: 20vh;
        max-height: 90vh;
        height: 60vh;

        top: 0px;
        left: 4%;
    }

    #descricao-praias03 {
        display: inline-block;
        position: relative;

        overflow-y: scroll;

        max-width: 70vw;
        width: 35vw;
        height: 56vh;

        top: 0px;
        left: 10%;
        
    }


    #descricao-praias03 > p {
        max-width: 70vw;
        
        max-height: max-content;
        
    }

    footer {
        display: inline-block;
        background-color: black;
        color: white;
        margin: auto;
        width: 99vw;
        min-width: 80px;
        padding: 20px;
        text-align: center;
        font-size: 2vw;
        top: auto;
    }
    
    footer > p {
        text-align: center;
        font-size: 3vw;
        margin: auto;

    }

}


/*
    Celulares e Tablets
*/


@media screen and (max-width: 1000px) {

    header {
        display: inline-block;
    }

    #icone-principal1 {
        display: inline-block;
        position: relative;
        margin-left: 1vw;
        margin-right: 1vw;


        width: 100px;
        height: 100px;

        border-radius: 50%;
        top: -1px;
        
    }
    
    #icone-principal{
        display: inline-block;
        position: relative;

        width: 30vw;
        height: 30vh;
        text-decoration: none;
        padding: 10px;
        top: -7px;
    }
    
    #icone-principal > p {
        display: inline-block;
        position: relative;
        font-size: 3.5vw;
        
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.227);
        top: -20%;
        left: 2%;
        
    }
    
    #icone-principal > p:hover {
        color: rgb(189, 189, 189)
    }

    nav {
        display: inline-block;
        position: relative;

        width: 98vw;

        min-height: 180px;
        height: 12vh;

        padding: 20px;
        background-color: rgb(84, 211, 84);
        padding-right: 50px;
        

    }
    
    
    
    .nav-list {
        display: inline-block;
        position: relative;
        list-style: none;
        
        width: 30vw;
        height: 16vh;
        
        top: -60%;
        left: 52%;
    }
    
    .nav-list li{
        display: inline-block;
        position: relative;
        width: 25vw;
        
        top: 0px;
        letter-spacing: 1px;

        font-size: 3.5vw;

        
        
    }
    
    .nav-list li a {
        display: inline-block;
        position: relative;
        width: 100px;
        text-decoration: none;
        
        top: 100px;
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.508);
    }
    
    
    .nav-list > li a:hover {
        text-decoration: underline;
        color: rgb(189, 189, 189);
        
    }
    #mini-introducao {
        font-size: 3vw;
    }

    .btn-about {
        width: 20vw;
        height: 18vh;
        font-size: 3vw;
    }

    section {
        
        display: block;
        position: relative;
        background-color: white;

        max-width: 95vw;
        width: 95vw;
        max-height: max-content;
        height: max-content;
        margin: auto;
        margin-bottom: 200px;

    }

    .layout-history-beaches1 , .layout-history-beaches2{
        display: inline-block;
        position: relative;
        margin: 100px 30px 50px 0px;
        
        max-width: 95vw;
        width: 95vw;

        max-height: max-content;
        height: max-content;

        padding: 30px 0px 30px 0px;
        margin-bottom: 50px;

    }

    .layout-history-beaches2 {
        background-color: var(--color-bg-layout);
        
    }

    .miniaturas, .miniaturas2, .imagem-atras, .imagem-frente {
        display: inline-block ;
        position: relative ;
        
        min-width: 30vw ;
        max-width: 70vw ;
        width: 45vw ;

        min-height: 10vh ;
        max-height: 80vh;
        height: 35vh ;

        top: 0px;
    }

    .flip-pictures {
        display: inline-block ;
        position: relative  ;

        min-width: 40vw ;
        max-width: 70vw ;
        width: 45vw  ;

        min-height: 5vh ;
        max-height: 80vh ;
    }


    .history-border {
        display: inline-block;
        position: relative;
        margin: 0px;

        min-width: 60vw;
        max-width: 95vw;
        width: 90vw;

        min-height: 20vh;
        max-height: 95vh;
        height: max-content;
    }

    .link-about {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }   
    
    .link-about2 {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }


    .descricao-praias, .descricao-praias2 {
        display: inline-block;
        position: relative;
        border: 3px dashed black;
        padding: 10px;


        max-width: 60vw;
        max-height: 60vh;

        width: 30vw;

        left: 5%;
        margin: 0px;
        
    }

    #flip-pictures01 {
        width: 45vw;
        height: 35vh;

        top: 0px;
        left: 4% ;
    }

    #descricao-praias01 {
        display: inline-block;
        position: relative;

        max-width: 45vw;
        

        width: 30vw;
        height: 32vh;

        overflow-y: scroll;
        top: 0px;
        left: 5%;
        padding: 10px;

    }


    #descricao-praias01 > p{
        max-width: 60vw;
        width: 36vw;
    }


    #flip-pictures02 {
        width: 45vw;
        height: 35vh;

        top: 0px;
        left: 50%;
    }


    #descricao-praias02 {

        overflow-y: scroll;

        max-width: 90vw;
        width: 30vw;
        
        min-height: 10vh;
        max-height: 90vh;
        height: 32vh;

        top: 0px;
        left: -40%;
    }

    #descricao-praias02 > p {
        max-width: 40vw;
        width: 36vw;

    }

    #flip-pictures03 {
        width: 45vw;
        height: 35vh;

        top: 0px;
        left: 4%;
    }


    #descricao-praias03 {

        overflow-y: scroll;

        max-width: 50vw;
        width: 30vw;
        height: 32vh;

        top: 0px;
        left: 6%;
    }


    #descricao-praias03 > p {
        max-width: 90vw;
        width: 45vw;
    }
    footer {
        display: inline-block;
        background-color: black;
        color: white;
        margin: auto;
        width: 99vw;
        min-width: 80px;
        padding: 20px;
        text-align: center;
        font-size: 2vw;
        top: auto;
    }
    
    footer > p {
        text-align: center;
        font-size: 3vw;
        margin: auto;

    }

}

/*
    Celulares
*/

@media screen and (max-width: 600px){

    #icone-principal1 {
        display: inline-block;
        position: relative;
        margin-left: 1vw;
        margin-right: 1vw;


        width: 120px;
        height: 120px;

        border-radius: 50%;
        top: -1px;
        
    }
    
    #icone-principal{
        display: inline-block;
        position: relative;

        width: 45vw;
        height: 30vh;
        text-decoration: none;
        padding: 10px;
        top: -7px;
    }
    
    #icone-principal > p {
        display: inline-block;
        position: relative;
        font-size: 3.5vw;
        
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.227);

        

        top: -30%;
        left: 2%;
        
    }
    
    #icone-principal > p:hover {
        color: rgb(189, 189, 189)
    }

    nav {
        display: inline-block;
        position: relative;

        width: 98vw;

        min-height: 120px;
        height: 20vh;
        
        padding: 20px;
        background-color: rgb(84, 211, 84);
        padding-right: 50px;
        

    }
    
    
    
    .nav-list {
        display: inline-block;
        position: relative;
        list-style: none;
        display: inline-block;    
        top: -30px;
        
    }
    
    .nav-list li{
        display: inline-block;
        position: relative;
        width: 200px;
        
        letter-spacing: 1px;

        font-size: 3.5vw;

        left: -10%;
        
    }
    
    .nav-list li a {
        display: inline-block;
        position: relative;
        width: 100px;
        text-decoration: none;
        
        top: -30px;
        left: 35vw;
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.508);
    }
    
    
    .nav-list > li a:hover {
        text-decoration: underline;
        color: rgb(189, 189, 189);
        
    }
    #mini-introducao {
        font-size: 3vw;
    }

    .btn-about {
        width: 20vw;
        height: 18vh;
        font-size: 3vw;
    }
    section {
        display: block;
        position: relative;
        background-color: white;

        max-width: 100vw;
        width: 100vw;
        max-height: max-content;
        height: max-content;
        margin: auto;
        margin-bottom: 100px;

    }


    .layout-history-beaches1 , .layout-history-beaches2{
        display: inline-block;
        position: relative;
        margin: 50px 30px 25px 30px;
        
        min-width: 50vw;
        max-width: 95vw;
        width: 95vw;

        min-height: 40vh;
        max-height: 200vh;
        height: max-content;
        padding: 50px 0px 50px 0px;
        margin-bottom: 100px;

    }

    .layout-history-beaches2 {

        position: relative;
        background-color: var(--color-bg-layout);
        margin: 0px;
        padding-left: 30px;
        
        
    }

    .miniaturas, .miniaturas2, .imagem-atras{
        display:  block;
        position: relative;

        min-width: 30vw;
        max-width: 95vw ;
        width: 90vw ;


        min-height: 18vh;
        max-height: 90vh;
        height: 90vh ;

    }

    .history-border {
        display: inline-block;
        position: relative;
        margin: 0px;

        min-width: 45vw;
        max-width: 90vw;
        width: 90vw;

        min-height: 20vh;
        max-height: 90vh;
        height: 28vh;
    }

    .link-about {
        display: inline-block;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }   
    
    .link-about2 {
        display: inline-block;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }


    .descricao-praias {
        display: inline-block;
        position: relative;
        border: 3px dashed black;
        padding: 10px;

        top: 0px;
        left: 0px;
        margin: 0px;
        
    }

    .descricao-praias02 > p {
        font-size: 0.4;
        max-width: 50vw;
        width: 10vw;
    }


    .descricao-praias2 {
        display: b;
        position: relative;
        overflow-y: scroll;

        border: 3px dashed black;
        padding: 10px;
    }       


    #flip-pictures01 {
        display: in;
        position: relative;

        min-width: 30vw;
        max-width: 90vw;
        width: 90vw;

        min-height: 10vh;
        max-height: 90vh;
        height: 90vh;

        top: 0px;
        left: 0px;
    }

    #descricao-praias01 {
        display: block;
        position: relative;

        min-width: 20vw;
        max-width: 90vw;
        
        width: 84vw;


        max-height: 90vh;
        height: 50vh;

        overflow-y: scroll;

        top: 10px;
        left: 5px;
        padding: 10px;

    }


    #descricao-praias01 > p{
        display: block;
        position: relative;
        max-width: 84vw;
        width: max-content;
        height: 60vh;

    }


    #flip-pictures02 {
        display: block;
        position: relative;
        min-width: 30vw;
        max-width: 90vw;
        width: 90vw;

        min-height: 20vh;
        max-height: 90vh;
        height: 90vh;

        top: 0%;
        left: 0%;
    }


    #descricao-praias02 {
        display: block;
        position: relative;
        

        min-height: 20vh;
        max-height: 90vh;
        width: 84vw;

        min-height: 20vh;
        max-height: 90vh;
        height: 50vh;

        top: 20px;
        left: 0%;
    }

    #descricao-praias02 > p {
        display: inline-block;
        position: relative;
        max-width: 90vw;
        width: 84vw;

    }

    #flip-pictures03 {
        display: block;
        position: relative;

        min-width: 50vw;
        max-width: 90vw;
        width: 90vw;

        min-height: 20vh;
        max-height: 90vh;
        height: 90vh;

        top: 0px;
        left: 0px;
    }


    #descricao-praias03 {
        display: block;
        position: relative;
        
        overflow-y: scroll;

        max-width: 90vw;
        width: 84vw;
        height: 50vh;


        top: 20px;
        left: 0%;
    }


    #descricao-praias03 > p {
        position: relative;
        overflow-y: scroll;
        max-width: 90vw;
        width: 84vw;
    }
    footer {
        display: inline-block;
        background-color: black;
        color: white;
        margin: auto;
        width: 99vw;
        min-width: 80px;
        padding: 20px;
        text-align: center;
        font-size: 2vw;
        top: auto;
    }
    
    footer > p {
        text-align: center;
        font-size: 3vw;
        margin: auto;

    }

}



@media screen and (max-width: 500px){

    #icone-principal1 {
        display: inline-block;
        position: relative;
        margin-left: 1vw;
        margin-right: 1vw;


        width: 100px;
        height: 100px;

        border-radius: 50%;
        top: -1px;
        
    }
    
    #icone-principal{
        display: inline-block;
        position: relative;

        width: 45vw;
        height: 30vh;
        text-decoration: none;
        padding: 10px;
        top: -7px;
    }
    
    #icone-principal > p {
        display: inline-block;
        position: relative;
        font-size: 3.5vw;
        
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.227);

        

        top: -30%;
        left: 2%;
        
    }
    
    #icone-principal > p:hover {
        color: rgb(189, 189, 189)
    }

    nav {
        display: inline-block;
        position: relative;

        width: 98vw;
        height: 16vh;
        
        padding: 20px;
        background-color: rgb(84, 211, 84);
        padding-right: 50px;
        

    }
    
    
    
    .nav-list {
        display: inline-block;
        position: relative;
        list-style: none;
        display: inline-block;    

        width: 5vw;

        top: -30px;
        left: 25%;
        
    }
    
    .nav-list li{
        display: inline-block;
        position: relative;
        width: 200px;
        
        letter-spacing: 1px;

        font-size: 3.5vw;

        left: -10%;
        
    }
    
    .nav-list li a {
        display: inline-block;
        position: relative;
        width: 100px;
        text-decoration: none;
        
        top: -30px;
        left: 0vw;
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.508);
    }
    
    
    .nav-list > li a:hover {
        text-decoration: underline;
        color: rgb(189, 189, 189);
        
    }
    #mini-introducao {
        font-size: 3vw;
    }

    .btn-about {
        width: 20vw;
        height: 18vh;
        font-size: 3vw;
    }

    section {
        display: block;
        position: relative;
        max-width: 100vw;
        width: 100vw;

        max-height: max-content;
        padding: 100px 0px 50px 0px;
    }


    .layout-history-beaches1, .layout-history-beaches2 {
        display: inline-block;
        position: relative;

        max-width: 100vw;
        width: 100%;
        
        min-height: 60vh;
        max-height: 100vh;
        height: 100vh;

        padding: 20px 10px 60px 10px;

        margin: 20px 0px 20px 0px;

    }

    .layout-history-beaches2 {
        background-color: var(--color-bg-layout);
    }



    .miniaturas, .miniaturas2, .imagem-atras {
        display: inline-block;
        position: relative;

        min-width: 50vw;
        max-width: 95vw;
        width: 95vw;

        min-height: 20vh;
        max-height: 95vh;
        height: 60vh;

        margin: 0px;

        top: 0px;
        left: 0px;
    }

    .link-about {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }   


    .link-about2 {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .history-border {
        display: block;
        position: relative;

        min-width: 60vw;
        max-width: 95vw;
        width: 95vw;

        min-height: 10vh;
        max-height: max-content;
        height: 65vh;

    }


    .flip-pictures {
        display: inline-block;
        position: relative;

        min-width: 20vw;
        max-width: 95vw;
        width: 95vw;

        max-height: 95vh;
        height: 60vh;

        
    }
    
    .descricao-praias, .descricao-praias02 {
        display: inline-block;
        position: relative;
        border: 2px dashed black;
        max-width: 95vw;
        width: 90vw;
        overflow-y: scroll;
        max-height: 100vh;
        height: 60vh;


        font-size: 3vw;

        left: 0px;

        padding: 10px;

    }        

    .descricao-praias > p {
        display: inline-block;
        position: relative;



        max-width: 95vw;
        width: 90vw;
        height: max-content;

        font-size: 3vw;
    }


    #flip-pictures01 {
        display: inline-block;
        position: relative;

        max-width: 95vw;
        width: 95vw;

        min-height: 30vh;
        max-height: 75vh;
        height: 60vh;

        left: 0px;

        
        
    }

    #descricao-praias01 {
        display: block;
        position: relative;
        min-width: 25vw;
        max-width: 90vw;
        width: 88vw;

        min-height: 15vh;
        max-height: 80vh;
        height: max-content;

        top: 30px;
        left: 0px;

    }

    #descricao-praias01 > p  {
        max-width: 95vw;
        width: 90vw;

        max-height: 90vh;
        height: max-content;


    }

    #flip-pictures02 {
        display: inline-block;
        position: relative;
    
        min-width: 30vw;
        max-width: 95vw;
        width: 95vw;

        min-height: 30vh;
        max-height: 95vh;
        height: 60vh;
        left: 0px;
        
    }

    #descricao-praias02 {
        
        max-width: 95vw;
        width: 88vw;

        min-height: 20vh;
        max-height: 95vh;
        height: max-content;

        top: 10px;
        left: 0%;
    }

    #descricao-praias02 > p {
        max-width: 95vw;
        width: 90vw;

        padding: 0px 0px 5px 5px;
    }

    #flip-pictures03 {
        display: inline-block;
        position: relative;
        max-width: 95vw;       
        width: 95vw;

        max-height: 90vh;
        height: 60vh;

        left: 0px;
        
    }

    #descricao-praias03 {
        max-width: 95vw;
        width: 88vw;

        min-height: 15vh;
        max-height: 80vh;
        height: max-content;

        top: 5px;
    }

    #descricao-praias03 > p {
        max-width: 95vw;
        width: 90vw;
    }

    footer {
        display: inline-block;
        background-color: black;
        color: white;
        margin: auto;
        width: 99vw;
        min-width: 80px;
        padding: 20px;
        text-align: center;
        font-size: 2vw;
        top: auto;
    }
    
    footer > p {
        text-align: center;
        font-size: 3vw;
        margin: auto;

    }

}


@media screen and (max-width: 300px){
 #icone-principal1 {
        display: inline-block;
        position: relative;
        margin-left: 1vw;
        margin-right: 1vw;


        width: 60px;
        height: 60px;

        border-radius: 50%;
        top: -1px;
        
    }
    
    #icone-principal{
        display: inline-block;
        position: relative;

        width: 45vw;
        height: 30vh;
        text-decoration: none;
        padding: 10px;
        top: -7px;
    }
    
    #icone-principal > p {
        display: inline-block;
        position: relative;
        font-size: 3.5vw;
        
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.227);

        

        top: -30px;
        left: 2%;
        
    }
    
    #icone-principal > p:hover {
        color: rgb(189, 189, 189)
    }

    nav {
        display: inline-block;
        position: relative;

        width: 98vw;

        min-height: 70px;
        height: 7vh;
        
        padding: 20px;
        background-color: rgb(84, 211, 84);
        padding-right: 50px;
        

    }
    
    
    
    .nav-list {
        display: inline-block;
        position: relative;
        list-style: none;
        display: inline-block;    

        width: 10vw;

        top: 0px;
        left: 16%;
        
    }
    
    .nav-list li{
        display: inline-block;
        position: relative;
        width: 200px;
        
        letter-spacing: 1px;

        font-size: 3.5vw;

        left: -10%;
        
    }
    
    .nav-list li a {
        display: inline-block;
        position: relative;
        width: 100px;
        text-decoration: none;
        
        top: -20px;
        left: 0vw;
        color: var(--color-font-navbar);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.508);
    }
    
    
    .nav-list > li a:hover {
        text-decoration: underline;
        color: rgb(189, 189, 189);
        
    }
    #mini-introducao {
        font-size: 3vw;
    }

    .btn-about {
        width: 20vw;
        height: 18vh;
        font-size: 3vw;
    }


    #mini-introducao {
        font-size: 15vw;
        width: 80vw;
        height: 25vh;
    }


    .btn-about#conhecer {
        display: block;
        position: relative;
        margin: auto;
        top: 25%;
    }
    
    .layout-history-beaches1, .layout-history-beaches2 {
        display: inline-block;
        position: relative;

        min-width: 10vw;
        max-width: 95vw;
        width: 90vw;


        min-height: 10vh;
        max-height: 95vh;
        height: 60vh;
    }

    .layout-history-beaches2 {
        background-color: var(--color-bg-layout);
    }

    .history-border {
        display: inline-block;
        position: relative;
        min-width: 5vw;
        max-width: 30vw;
        width: 30vw;

        min-height: 5vh;
        max-height: 30vh;
        height: 10vh;
    }

    .miniaturas, .miniaturas2, .imagem-atras {
        display: inline-block;
        position: relative;
        min-width: 10vw;
        max-width: 90vw;
        width: 90vw;

        min-height: 5vh;
        max-height: 50vh;
        height: 25vh;
    }

    .flip-pictures {
        display: inline-block;
        position: relative;
        min-width: 5vw;
        max-width: 90vw;
        width: 90vw;

        min-height: 5vh;
        max-height: 50vh;
        height: 25vh;

    }

    .link-about {
        transform: translate(-50%, -50%);
        font-size: 8vw;
        top: 50%;
        left: 50%;
    }   
    
    .link-about2 {
        transform: translate(-50%, -50%);
        font-size: 8vw;
        top: 50%;
        left: 250%;
    }

    .descricao-praias, .descricao-praias2 {
        display: inline-block;
        position: relative;

        border: 1px dashed black;

        min-width: 5vw;
        max-width: 40vw;
        width: 20vw;

        min-height: 5vh;
        max-height: 40vh;
        height: 20vh;

        top: 0px;
        left: 0px;
    
    }

    #flip-pictures01 {
        display: inline-block;
        position: relative;

        max-width: 90vw;
        width: 90vw;

        min-height: 20vh;
        max-height: 90vh;
        height: 25vh;

        top: 0px;
        left: 0px;
    }

    #descricao-praias01 {
        display: inline-block;
        position: relative;
        min-width: 5vw;
        max-width: 90vw;
        width: 85vw;

        min-height: 5vh;
        max-height: 30vh;
        height: 30vh;

        padding: 5px;

        top: 0px;
    }

    #descricao-praias01 > p {
        max-width: 90vw;
        width: 80vw;
        font-size: 8vw;
    }


    #flip-pictures02 {
        display: inline-block;
        position: relative;

        max-width: 90vw;
        width: 90vw;

        min-height: 20vh;
        max-height: 80vh;
        height: 25vh;

        top: 0px;
        left: 0px;
    }

    #descricao-praias02 {
        display: inline-block;
        position: relative;
        min-width: 5vw;
        max-width: 90vw;
        width: 80vw;

        min-height: 5vh;
        max-height: 30vh;
        height: 30vh;
        
        padding: 10px;

        top: 0px;
        left: 5%;
    }

    #descricao-praias02 > p {
        max-width: 90vw;
        width: 80vw;
        font-size: 8vw;
        padding: 0px 5px 0px 5px;
    }


    #flip-pictures03 {
        display: inline-block;
        position: relative;

        min-height: 20vh;
        max-height: 80vh;
        height: 25vh;

        max-width: 90vw;
        width: 90vw;


        top: 0px;
        left: 0px;
    }

    #descricao-praias03 {
        display: inline-block;
        position: relative;
        min-width: 5vw;
        max-width: 90vw;
        width: 85vw;

        min-height: 5vh;
        max-height: 30vh;
        height: 30vh;

        padding: 5px;

        top: 0px;
    }

    #descricao-praias03 > p {
        max-width: 90vw;
        width: 80vw;
        font-size: 8vw;
    }
    footer {
        display: inline-block;
        background-color: black;
        color: white;
        margin: auto;
        width: 99vw;
        min-width: 80px;
        padding: 20px;
        text-align: center;
        font-size: 2vw;
        top: auto;
    }
    
    footer > p {
        text-align: center;
        font-size: 3vw;
        margin: auto;

    }
}





